* {
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    background-image: url("img/table.png");
    background-size: cover;
}

h1 {
    font-size: 55px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 6px;
    background-image: linear-gradient(to right, red, black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

#message-el {
    font-size: 20px;
}

.draw-btn {
    margin-bottom: 10px;
    padding: 5px 20px;
    font-size: 30px;
    font-weight: 600;
    color: green;
    background-color: goldenrod;
    border: 1px solid white;
    border-radius: 5px;
}

#cards-el {
    font-size: 25px;
    color: white;
}

#sum-el {
    font-size: 25px;
    color: white;
}

.hit-btn {
    padding: 5px 20px;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 600;
    color: green;
    background-color: goldenrod;
    border: 1px solid white;
    border-radius: 5px;
}

.stay-btn {
    padding: 5px 20px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
    color: green;
    background-color: goldenrod;
    border: 1px solid white;
    border-radius: 5px;
}

#odds-el {
    margin: 50px 0;
    font-size: 25px;
}

.reset {
    padding: 2px 10px;
    font-size: 15px;
    font-weight: 800;
    background-color: red;
    border: 1px solid white;
    border-radius: 25px;
}

.info {
    margin: 30px 10px;
    font-size: 20px;
}

.important {
    margin: 5px 0 10px 0;
    font-size: 20px;
    font-weight: 200;
    color: darkred;
}